# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.env

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/


# OS
.DS_Store
Thumbs.db

# Archivos temporales del proyecto
PROM.MD
image.png
LOGO.svg
